<!--Filter Box-->
<article>
  
<div class="filter-box">
  <div class="age-filter">
    <label class="filter-label-age">
      Age
      <select id="filter-down-box-age" name="filter-down-box">
        <option selected value="all">ALL</option>
        <option value=16>from 16</option>
        <option value=10>from 11</option>
        <option value=6> up til 7</option>
      </select>
    </label>
  </div>
  <button class="apply-filter-btn" onClick="applyFilter()">Filter</button>
</div>

<div class="nyheter-list-container">
  <h1 class="start-nyheter">Filmer</h1>
  <div class="nyheter-list-wrapper">
    <div class="nyheter-list">
      <div class="nyheter-list-item">
        <!--kom ihåg att när du ska länka en ny redirection skriv bara htmlens namn behövs inget mer-->
        <A href="jackAss"> 
        <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
        <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->
      </div>
</A>
      <div class="nyheter-list-item">
        <A href="batman">
        <img class="nyheter-list-item-img" src="/resources/batman.jpg" alt="batman">
        <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

      </div>
    </A>
      <div class="nyheter-list-item">
        <A href="lotr">
        <img class="nyheter-list-item-img" src="/resources/doctor.jpg" alt="lotr">
        <!--  <span class="nyheter-list-item-title">Jackass Forever</span> -->

      </div>
</A>
      <div class="nyheter-list-item">
        <A href="nemo">
        <img class="nyheter-list-item-img" src="/resources/findingNemo.jpg" alt="findingNemo">
        <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

      </div>
</A>
      <div class="nyheter-list-item">
        <A href="scarFace">
        <img class="nyheter-list-item-img" src="/resources/scarface.jpg" alt="scarface">
        <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

      </div>
</A>
      <div class="nyheter-list-item">
        <A href="scoobyDoo">
        <img class="nyheter-list-item-img" src="/resources/scoobyDoo.jpg" alt="scoobyDoo">
        <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

      </div>
</A>
    </div>
    <i class="fa-solid fa-angle-right arrow"></i>
  </div>
</div>

</article>

