<article>
  <!--Kom ihåg att hänvisa till folder osså-->

  <style>
    .h1 {
      text-align: left;
      position: relative;
      top: -150px;
      color: white;

    }
  </style>

  <style>
    .h2 {

      text-align: center;

    }
  </style>

  <style>
    .h3,
    .h4,
    .h5,
    .h6,
    .h7 {
      color: grey;

    }
  </style>

  <div class="h2">
    <!---->

    <iframe width="420" height="315" src="https://www.youtube.com/embed/p74bzf-beGc?">
    </iframe>
  </div>
  <div class="h1">
    <form action="https://google.com">
      <input type="submit" value="Köp Biljetter" />
    </form>
    <img src="/resources/jackass-cover.jpg" width="200" height="260" alt="SATOR">
    <p>För 20 år sedan hade jackass-serien, med en grupp orädda idioter som gjorde stunts och spratt för att få varandra att
      skratta, premiär. 2010 blev jackass 3D den tredje filmen i serien som blev nummer ett i biljettkassorna.</p>
    <p> Ett decennium senare ... blev Knoxville sugen igen. Han ringde sina partners, Jeff Tremaine och Spike Jonze, och sa
      att det var dags att samla gänget igen.</p>
    <p></p>
    <div class="h3">
      <p>
        Regi:
      </p>

    </div>
    <p>
      Jeff Tremain
    </p>

    <div class="h4">
      <p>
        Skådespelare:
      </p>
    </div>

    <p>
    Johnny Knoxville, Steve-O , Chris Pontius, Dave England, Wee Man, Danger Ehren, Preston Lacy, Sean “Poopies” McInerney,
    Zach Holmes, Eric Manaka, Rachel Wolfson
    </p>

    <div class="h5">
      <p>
        Orginatitel:
      </p>
    </div>

    <p>
      Jackass Forever
    </p>

    <div class=h6>
      <p>
        Orginalspråk:
      </p>
    </div>
    <p>
      Engelska
    </p>
    <div class="h7">
      <p>
        Premiär:
      </p>
    </div>

    <p>
      23 feb 2022
    </p>


    <script src="/js/readJson.js"></script>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
  <div class="row">
    <div class="column">
      <img src="/resources/jackasspic/jjj.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/jackasspic/jackassforever2.jpeg" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/jackasspic/jack.webp" alt="Mountains" style="width:100%">
    </div>
  </div>



</article>