<article>
  <!--Kom ihåg att hänvisa till folder osså-->

  <style>
    .h1 {
      text-align: left;
      position: relative;
      top: -150px;
      color: white;

    }
  </style>

  <style>
    .h2 {

      text-align: center;

    }
  </style>

  <style>
    .h3,
    .h4,
    .h5,
    .h6,
    .h7 {
      color: grey;

    }
  </style>

  <div class="h2">
    <!---->

    <iframe width="420" height="315" src="https://www.youtube.com/embed/JfVOs4VSpmA?">
    </iframe>
  </div>
  <div class="h1">
    <form action="https://google.com">
      <input type="submit" value="Köp Biljetter" />
    </form>
    <img src="/resources/spidermanim.jpg" width="200" height="260" alt="SATOR">
    <p>För första gången i filmhistorien får vi följa allas vår favorithjälte Spider-Man utan sin mask, och hur han inte längre
    kan separera sitt normala liv från riskerna med att vara en superhjälte.
    
    När han ber Doctor Strange om hjälp blir insatserna ännu farligare, och han tvingas upptäcka vad det verkligen innebär
    att vara Spider-Man.

    <div class="h3">
      <p>
        Regi:
      </p>

    </div>
    <p>
      Jon Watts
    </p>

    <div class="h4">
      <p>
        Skådespelare:
      </p>
    </div>

    <p>
    Tom Holland, Zendaya , Benedict Cumberbatch, Marisa Tomei, J.K. Simmons, Jamie Foxx, Alfred Molina


    </p>

    <div class="h5">
      <p>
        Orginatitel:
      </p>
    </div>

    <p>
      Spider-Man: No Way Home
    </p>

    <div class=h6>
      <p>
        Orginalspråk:
      </p>
    </div>
    <p>
      Engelska
    </p>
    <div class="h7">
      <p>
        Premiär:
      </p>
    </div>

    <p>
      10 april 2022
    </p>


    <script src="/js/readJson.js"></script>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }


    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
  <div class="row">
    <div class="column">
      <img src="/resources/spiderpic/s.jpg" alt="gänget" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/spiderpic/sd.jpg" alt="friends" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/spiderpic/spider_man_no_way_home_sequel.jpg" alt="octo" style="width:100%">
    </div>
  </div>



</article>