<article>
  <div class="featured-content">
    <div class="featured-title">The Batman</div>
    <p class="featured-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis fugiat
      quasi fugit at, ea dicta reprehenderit repellendus a delectus eum neque placeat eius hic odio harum repudiandae
      dolore earum.</p>
    <button class="featured-button">TRAILER</button>
  </div>

  <div class="nyheter-list-container">
    <h1 class="start-nyheter">Nyheter</h1>
    <div class="nyheter-list-wrapper">
      <div class="nyheter-list">
        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->
        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!--  <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

      </div>
      <i class="fa-solid fa-angle-right arrow"></i>
    </div>
  </div>

  <div class="nyheter-list-container">
    <h1 class="start-nyheter">Topplistan</h1>
    <div class="nyheter-list-wrapper">
      <div class="nyheter-list">
        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->
        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!--  <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

      </div>
      <i class="fa-solid fa-angle-right arrow"></i>
    </div>
  </div>

</article>