<article>
  <div class="featured-content">
  </div>
  <h1>Välkommen! till Filmvisarna AB</h1>

  <p>
  <p>Hi Im changing it Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore harum quidem possimus ipsum
    nostrum tenetur eaque itaque, molestias, cupiditate optio doloribus cumque neque. Unde, id nesciunt placeat
    aspernatur quis necessitatibus?</p>
  <p>Commodi illum officia illo sunt veritatis expedita, numquam possimus repellat voluptatibus, excepturi qui eius?
    Dolorem, delectus adipisci nesciunt sapiente praesentium aperiam veritatis doloribus autem soluta aliquid
    aspernatur enim excepturi! Dicta.</p>
  <p>Quia, error minus ratione illum, voluptas tempore beatae veritatis asperiores, voluptate id ipsam. Modi non
    velit, suscipit maxime in esse facilis ipsum, obcaecati excepturi iste sapiente magni sunt fugiat dicta.</p>
  <p>Itaque earum illo sint voluptate possimus dicta! Commodi ea voluptatem quae adipisci non repellendus saepe nulla
    necessitatibus! Accusamus consequatur veritatis illum asperiores ratione quibusdam autem mollitia, tempora
    commodi, eius debitis.</p>
  </p>
</article>