 /*FILTER BOX*/
.filter-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 380px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
}
.age-filter,
.type-filter {
  margin: 10px;
}

.filter-label-age,
.filter-label-type {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: white;
}

.filter-label-age select,
.filter-label-type select {
  display: block;
  width: 100px;
  min-height: 35px;
  background-color: var(--color-primary);
  color: #6a7b76;
  border-radius: 3px;
  border: 2px solid var(--color-primary-dark);
  outline: none;
  padding: 0 20px 0 10px;
  cursor: pointer;
}

.filter-label-age::after,
.filter-label-type::after {
  content: "";
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(250, 249, 249);
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
}

.filter-label-age .selector-options,
.filter-label-type .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: var(--color-secondary);
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
  bottom: 10px;
}

.filter-label-age .selector-options li,
.filter-label-type .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.filter-label-age .selector-options li:hover,
.filter-label-type .selector-options li:hover {
  background: #84f5fd;
}

.apply-filter-btn:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}
.apply-filter-btn {
  height: 35px;
  max-width: 80px;
  width: 100%;
  margin-top: 28px;
  margin-left: 5px;
  background-color: var(--color-primary-dark);
  border-radius: 10px;
  color: white;
  border: none;
}