.movie-page {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-box {
  margin-top: 200px;
}

iframe {
  width: 550px;
  height: 600px;
}

.movie-box {
  margin-top: 200px;
  background-color: aliceblue;
}