<article>
  <!--Kom ihåg att hänvisa till folder osså-->
  <style>
    body{background-color: black;}
    .h1 {
      text-align: left;
      position: relative;
      top: -150px;
      color: rgb(248, 248, 248);
      
    }
  </style>

  <style>
    .h2 {

      text-align: center;

    }
  </style>

  <style>
    .h3,
    .h4,
    .h5,
    .h6,
    .h7 {
      color: grey;

    }
  </style>

  <div class="h2">
    <!---->

    <iframe width="420" height="315" src="https://www.youtube.com/embed/mqqft2x_Aa4?">
    </iframe>
  </div>
  <div class="h1">
    <form action="../partials/biljetter-batman.html">
      <input type="submit" value="Köp Biljetter" />
    </form>
    <img src="../resources/batman2.jpg" width="200" height="260" alt="SATOR">
    <p>I två år har Bruce Wayne vakat över gatorna i Gotham City som Batman. När en mördare riktar in sig på Gothams
      elit
      med en serie av sadistiska mord,</p>
    <p> leder ett spår av kryptiska ledtrådar in Batman i den undre världen.</p>
    <p> Bevisen leder närmare och närmare hans egen familj och vidden av mördarens planer blir tydliga.
      Batman måste skapa nya allianser och avslöja den
      skyldige för att rädda Gotham City.</p>
    <p></p>
    <div class="h3">
      <p>
        Regi:
      </p>

    </div>
    <p>
      Matt Reeves
    </p>

    <div class="h4">
      <p>
        Skådespelare:
      </p>
    </div>

    <p>
      Robert Pattinson, Zoë Kravitz, Colin Farrell, Paul Dano, Andy Serkis, Peter Sarsgaard, John Turturro, Jeffrey
      Wright
    </p>

    <div class="h5">
      <p>
        Orginatitel:
      </p>
    </div>

    <p>
      The Batman
    </p>

    <div class=h6>
      <p>
        Orginalspråk:
      </p>
    </div>
    <p>
      Engelska
    </p>
    <div class="h7">
      <p>
        Premiär:
      </p>
    </div>

    <p>
      2 mar 2022
    </p>


    <script src="/js/readJson.js"></script>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }


    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
  <div class="row">
    <div class="column">
      <img src="/resources/batmanpic/bb.jpg" alt="batman and someone" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/batmanpic/The Batman.jpg" alt="same thing" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/batmanpic/The-Batman-Featured-1.jpg" alt="batman alone" style="width:100%">
    </div>
  </div>



</article>