<article>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/biljetter.css" />

  </head>

  <body>


    <div class="bigContainer">
      <h1>Salon 1</h1>
      <h2>Doctor Strange </h2>
      <title>Movie Seat Booking</title>

      <div class="movie-container">
        <label> Välj visningstid </label>
        <select id="movie">
          <option value="150">29/3 -Tisdag 21:00</option>
          <option value="150">5/4 - Tisdag 21:00</option>
          <option value="150">11/4 - Måndag 21:00</option>
          <option value="150">20/4 - Onsdag 21:00</option>
        </select>
      </div>

      <ul class="showcase">
        <li>
          <div class="seat"></div>
          <small>Tillgängliga</small>
        </li>
        <li>
          <div class="seat selected"></div>
          <small>Vald</small>
        </li>
        <li>
          <div class="seat sold"></div>
          <small>Såld</small>
        </li>
      </ul>

      <div class="container">
        <div class="screen"></div>

        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
          <div class="seat sold"></div>
          <div class="seat sold"></div>
          <div class="seat sold"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>

        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat "></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
        </div>
        <div class="row">
          <div class="seat sold"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat "></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat sold"></div>
        </div>
      </div>

      <p class="text">
        Du har valt <span id="count">0</span> sittplats till ett pris av Kr <span id="total">0</span> :-
      </p>
      <button class="bookButton">Boka nu</button>
    </div>
    <script src="../js/biljetter.js"></script>
  </body>

  </html>
</article>