<article>
  <!--Kom ihåg att hänvisa till folder osså-->
  <div class="containerDetail">

    <div class="trailerAndImage">

      <img class="detailImage" src="/resources/findingNemo.jpg" width="200" height="260" alt="SATOR">

      <div class="h2">
        <iframe width="420" height="315" allow="fullscreen" src="https://www.youtube.com/embed/2zLkasScy7A?">
        </iframe>
      </div>
    </div>
    <div class="titleAndButton">
      <h1 class="headTitle">Hitta Nemo</h1>
      <button class="ticketsButton" name="nemo" onclick="loadBooking()">köp biljetter</button>
    </div>

    <p>Hitta Nemo handlar om clownfisken Marvin som lever ett tryggt och lungt liv med sin son Nemo. Med respekt för
      havet och dess oförutsedda faror kämpar han för att försöka skydda sin ende son. Men som alla andra unga fiskar
      längtar
      även Nemo efter att få utforska revets mysterier.</p>

    <div class="h3">
      <p class="regi">
        Regi:
      </p>

    </div>
    <p class="regiName">
      Andrew Stanton
      Lee Unkrich
    </p>

    <div class="h4">
      <p class="actors">
        Skådespelare:
      </p>
    </div>

    <p class="actorNames">
      Albert Brooks, Ellen DeGeneres, Alexander Gould, Willem Dafoe

    </p>

    <div class="h5">
      <p class="title">
        Orginatitel:
      </p>
    </div>

    <p class="titleName">
      Finding Nemo
    </p>

    <div class=h6>
      <p class="language">
        Orginalspråk:
      </p>
    </div>
    <p class="languageName">
      Engelska
    </p>
    <div class="h7">
      <p class="date">
        Premiär:
      </p>
    </div>

    <p class="dateDate">
      20 mar 2022
    </p>

    <script src="/js/readJson.js"></script>
  </div>

  <div class="imageRow">
    <div class="column">
      <img src="/resources/nemopic/nemo.jpg" alt="doris" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/nemopic/nemo8.jpg" alt="friends" style="width:100%">
    </div>
    <div class="column">
      <img src="/resources/nemopic/hark.jpg" alt="hark" style="width:100%">
    </div>
  </div>



</article>