<article>
  <!--Filter Box-->
  <div class="filter-box">
    <div class="age-filter">
      <label class="filter-label-age">
        Age
        <select id="filter-down-box-age" name="filter-down-box">
          <option selected value="all">ALL</option>
          <option value=16>UP TO 16</option>
          <option value=10>UP TO 10</option>
          <option value=6>UP TO 6</option>
        </select>
      </label>
    </div>
    <div class="type-filter">
      <label class="filter-label-type">
        Type
        <select id="filter-down-box-type" name="filter-down-box">
          <option selected value="all">ALL</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Horror">Horror</option>
          <option value="Sci-Fi">Sci-fi</option>
          <option value="Thriller">Thriller</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Animation">Animation</option>
          <option value="Family">Family</option>
          <option value="Adventure">Adventure</option>
        </select>
      </label>
    </div>
    <button class="apply-filter-btn" onClick="applyFilter()">Filter</button>
  </div>

  <!--Movies Grid-->
  <section class="movies" id="movies">
    <h2 class="heading-title">IN THE CINEMA</h2>
    <!--  <div class="movies-container"> -->
    <!-- commented instead of removing -->
    <div class="active-movies-container"></div>
    <!-- dynamic list of allActiveMovies -->
    </div>
    <!--   </div> -->
  </section>

  <div class="nyheter-list-container">
    <h1 class="start-nyheter">Nyheter</h1>
    <div class="nyheter-list-wrapper">
      <div class="nyheter-list">
        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->
        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!--  <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

      </div>
      <i class="fa-solid fa-angle-right arrow"></i>
    </div>
  </div>

  <div class="nyheter-list-container">
    <h1 class="start-nyheter">Topplistan</h1>
    <div class="nyheter-list-wrapper">
      <div class="nyheter-list">
        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->
        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!--  <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

        <div class="nyheter-list-item">
          <img class="nyheter-list-item-img" src="/resources/jackass-cover.jpg" alt="jackass-cover">
          <!-- <span class="nyheter-list-item-title">Jackass Forever</span> -->

        </div>

      </div>
      <i class="fa-solid fa-angle-right arrow"></i>
    </div>
  </div>

</article>