<article>

  <div class="featured-content">
    <div id="featuredInnerContainer">
      <div class="featured-title">The Batman</div>
      <p class="featured-desc">I två år har Bruce Wayne vakat över gatorna i Gotham City som Batman. När en mördare
        riktar
        in sig på Gothams
        elit med en serie av sadistiska mord, leder ett spår av kryptiska ledtrådar in Batman i den undre världen ...
      </p>
      <button class="featured-button" onclick="loadBatman()">Läs mer</button>
    </div>
  </div>


  <!--Filter Box-->
  <div class="filter-box">
    <div class="age-filter">
      <label class="filter-label-age">
        Age
        <select id="filter-down-box-age" name="filter-down-box">
          <option selected value="all">ALL</option>
          <option value=15>Från 15</option>
          <option value=11>Från 11</option>
          <option value=7>Barnfilmer</option>
        </select>
      </label>
    </div>
    <div class="type-filter">
      <label class="filter-label-type">
        Type
        <select id="filter-down-box-type" name="filter-down-box">
          <option selected value="all">ALL</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Adventure">Adventure</option>
        </select>
      </label>
    </div>
    <button class="apply-filter-btn" onClick="applyFilter()">Filter</button>
  </div>

  <!--Movies Grid-->
  <section class="movies" id="movies">
    <div class="moviesOuterContainer">
      <h2 class="heading-title">IN THE CINEMA</h2>
      <!--  <div class="movies-container"> -->
      <!-- commented instead of removing -->
      <div class="active-movies-container"></div>
      <!-- dynamic list of allActiveMovies -->
    </div>
    <!--   </div> -->
  </section>

  </div>

</article>